[submodule "xx-net"]
	path = XX-Net
	url = https://github.com/XX-net/XX-Net
[submodule "miredo"]
	path = miredo
	url = https://github.com/fgp/miredo
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "free-programming-books"]
	path = free-programming-books
	url = https://github.com/EbookFoundation/free-programming-books
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
